/* Paleta */
/* Tipos */
/* Textos */
/* Dimensiones */
/* Breakpoints */
.type.type1 {
  background-image: url("../img/pokemon-type/type1.png"); }

.type.type2 {
  background-image: url("../img/pokemon-type/type2.png"); }

.type.type3 {
  background-image: url("../img/pokemon-type/type3.png"); }

.type.type4 {
  background-image: url("../img/pokemon-type/type4.png"); }

.type.type5 {
  background-image: url("../img/pokemon-type/type5.png"); }

.type.type6 {
  background-image: url("../img/pokemon-type/type6.png"); }

.type.type7 {
  background-image: url("../img/pokemon-type/type7.png"); }

.type.type8 {
  background-image: url("../img/pokemon-type/type8.png"); }

.type.type9 {
  background-image: url("../img/pokemon-type/type9.png"); }

.type.type10 {
  background-image: url("../img/pokemon-type/type10.png"); }

.type.type11 {
  background-image: url("../img/pokemon-type/type11.png"); }

.type.type12 {
  background-image: url("../img/pokemon-type/type12.png"); }

.type.type13 {
  background-image: url("../img/pokemon-type/type13.png"); }

.type.type14 {
  background-image: url("../img/pokemon-type/type14.png"); }

.type.type15 {
  background-image: url("../img/pokemon-type/type15.png"); }

.type.type16 {
  background-image: url("../img/pokemon-type/type16.png"); }

.type.type17 {
  background-image: url("../img/pokemon-type/type17.png"); }

.type.type18 {
  background-image: url("../img/pokemon-type/type18.png"); }

/* Tooltip */
.tooltip-inner {
  color: #565656;
  background-color: #eee; }

.tooltip.top .tooltip-arrow {
  border-top-color: #eee; }

body {
  font-family: "Roboto", "Helvetica", sans-serif;
  color: #565656; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

.poke-contenedor {
  margin-top: 3.125em; }

.tarjeta {
  position: relative;
  margin: 0 0 0.9375em 0;
  height: 18.75em;
  max-height: 18.75em;
  overflow: hidden;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #e6e6e6; }
  .tarjeta:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.tarjeta-figure {
  position: relative;
  width: 100%;
  height: 13.4375em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .tarjeta-figure img {
    display: block;
    max-height: 100%;
    margin: 0 auto; }
  .tarjeta-figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25em 0.5em;
    font-size: 1.125em;
    font-weight: 500;
    background-color: #eee;
    color: #565656; }

.tarjeta-contenido {
  position: absolute;
  top: 13.4375em;
  height: 18.75em;
  transition: top 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  background-color: #ffffff; }
  .tarjeta-contenido .tarjeta-titulo {
    position: relative;
    height: 5em; }
  .tarjeta-contenido h1 {
    margin: 0;
    padding-left: 0.625em;
    font-size: 1.875em;
    line-height: 2.7; }
    .tarjeta-contenido h1 .type {
      position: relative;
      top: 24px;
      left: 0;
      display: inline-block;
      width: 0.875em;
      height: 0.875em;
      text-indent: -56.25em;
      background-repeat: no-repeat;
      background-size: 0.875em;
      background-position: 50%;
      border-radius: 20px; }
  .tarjeta-contenido .tarjeta-nav {
    position: absolute;
    top: -1.0625em;
    right: 0.625em; }
    .tarjeta-contenido .tarjeta-nav .btn {
      display: inline-block;
      background-color: #eee;
      color: #565656;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 25px;
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
      .tarjeta-contenido .tarjeta-nav .btn:hover {
        background-color: #000000;
        color: #f5f5f5;
        border-color: black; }
  .tarjeta-contenido .tarjeta-stats {
    padding: 0.625em 0; }
  .tarjeta-contenido .tarjeta-stat {
    width: 50%;
    padding: 0.25em 0.75em; }
    .tarjeta-contenido .tarjeta-stat.pull-left {
      border-right: 1px solid rgba(255, 255, 255, 0.5); }
    .tarjeta-contenido .tarjeta-stat.block {
      width: 100%;
      text-align: center; }
      .tarjeta-contenido .tarjeta-stat.block h2 {
        display: block;
        font-weight: 500;
        font-size: 2.8125em; }
    .tarjeta-contenido .tarjeta-stat small {
      display: inline-block;
      margin: 0 0.625em;
      font-size: 0.625em;
      color: #565656; }
    .tarjeta-contenido .tarjeta-stat h2 {
      display: inline;
      margin: 0;
      font-size: 1.875em;
      font-weight: 300; }

.tarjeta-contenido.visible {
  width: 100%;
  top: 0;
  background-color: #eee;
  color: #565656; }
  .tarjeta-contenido.visible .tarjeta-titulo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .tarjeta-contenido.visible .tarjeta-nav {
    top: 1.25em; }

.evo-nav {
  background-color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: middle; }
