.type.type1
    background-image: url("../img/pokemon-type/type1.png")
.type.type2
    background-image: url("../img/pokemon-type/type2.png")
.type.type3
    background-image: url("../img/pokemon-type/type3.png")
.type.type4
    background-image: url("../img/pokemon-type/type4.png")
.type.type5
    background-image: url("../img/pokemon-type/type5.png")
.type.type6
    background-image: url("../img/pokemon-type/type6.png")
.type.type7
    background-image: url("../img/pokemon-type/type7.png")
.type.type8
    background-image: url("../img/pokemon-type/type8.png")
.type.type9
    background-image: url("../img/pokemon-type/type9.png")
.type.type10
    background-image: url("../img/pokemon-type/type10.png")
.type.type11
    background-image: url("../img/pokemon-type/type11.png")
.type.type12
    background-image: url("../img/pokemon-type/type12.png")
.type.type13
    background-image: url("../img/pokemon-type/type13.png")
.type.type14
    background-image: url("../img/pokemon-type/type14.png")
.type.type15
    background-image: url("../img/pokemon-type/type15.png")
.type.type16
    background-image: url("../img/pokemon-type/type16.png")
.type.type17
    background-image: url("../img/pokemon-type/type17.png")
.type.type18
    background-image: url("../img/pokemon-type/type18.png")